.search-user-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 68%;
}

.search-user-input{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: .4rem;
    text-transform: uppercase;
    text-align: center;
}

.search-user-button{
    height: 50px;
    width: 200px;
    border: none;
    margin-top: 20px;
    background-image: linear-gradient(
        to right,
        hsl(90, 93%, 24%),
        hsl(111, 96%, 19%)
    );
    text-transform: uppercase;
    color: white;
    border-radius: 0.6rem;
    align-self: center;
    font-size: 20px;
    letter-spacing: 8px;
    padding: 5px;
}