.rendered-commits-repo{
    overflow-y: auto;
    height: 65%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commit-grid{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;  
}

.grid-nav{
    background-color: black;
    color: white;
}

.commit-nav-title{
    text-transform: uppercase;
}

.commit-text{
    display: flex;
    margin-left: 2%;
    justify-content: flex-start;
}

.fave-icon{
    display: flex;
    justify-self: center;
    height: 40%;
    width: 40%;
    cursor: pointer;
}

.commit-info-button{
    border: none;
    height: 50%;
    background-image: linear-gradient(
        to right,
        hsl(208, 43%, 55%),
        hsl(228, 60%, 49%)
    );
    color: white;
    border: .3em;
}