.repo-popup{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsla(0, 0%, 0%, 80%);
    z-index: 100;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commit-container{
    height: 95%;
    width: 90%;
    border-radius: 0.3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.chosen-repo-title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3.5rem;
    font-weight: 300;
    justify-self: center;
}

.commit-options-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    padding: 1%;
    background-image: linear-gradient(
        to right,
        hsl(201, 69%, 60%),
        hsl(218, 92%, 36%)
    );
}

.commit-options{
    font-size: 1.5rem;
    background-color: none;
    padding: 10px;
    width: auto;
    border-radius: .3rem;
    border: solid;
    transition: all 0.5s;
    text-align: center;
    color: white;
}

.commit-options:hover{
    letter-spacing: .3rem;
    cursor: pointer;
    text-align: center;
}

.selected{
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
}

.commit-select{
    font-size: 1.5rem;
    border-radius: .3rem;
    z-index: 150;
    border: none;
    text-align: center;
    width: 17%;
}

.commit-button-container{
    height: 10%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.commit-buttons{
    justify-self: center;
    align-self: center;

    height: 80%;
    border: none;
    border-radius: 0.3em;
    color: white;
    width: 20%;
    font-size: 97%;
}

.close-commit-button{
    background-image: linear-gradient(
        to right,
        hsl(0, 68%, 75%),
        hsl(0, 62%, 53%)
    );
}
.back-commit-button{
    background-image: linear-gradient(
        to right,
        hsl(201, 69%, 60%),
        hsl(218, 92%, 36%)
    );
}