.nav-bar-div{
    border: solid;
    background-color: black;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 10;
}

.home-link{
    color: white;
    text-decoration: none;
    font-size: 30px;
    border: solid;
    padding: 20px;
    border-radius: 0.5rem;
    transition: all 0.5s;
}

.home-link:hover{
    letter-spacing: 9px;
    cursor: pointer;
    text-align: center;
}