.repo-section{
    margin: 20px;
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 2rem;
}

.repo-section-heading{
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 3px;
    font-weight: 30;
}

.repo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.repo-container{
    margin-bottom: 20px;
    width: 60%;
    justify-self: center;
    border-radius: 0.5rem;
    padding: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: linear-gradient(
        to right bottom,
        hsl(204, 81%, 55%),
        hsl(314, 91%, 17%)
    );
    color: white;
    flex-wrap: wrap;

    position: relative;
    border: solid;
}

.repo-container:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 35px rgba(93, 91, 91, 0.557);
}

.repo-date{
    font-size: 95%;
}

.repo-name{
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 3px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    white-space: normal;
}

.language-span{
    font-weight: bold;
}

.repo-language-text{
    letter-spacing: 0.05rem;
}

.commit-button{
    height: 50px;
    width: 130px;
    border-radius: 0.3rem;
    border: none;
    text-transform: uppercase;
    font-weight: 10;
    letter-spacing: 1px;
}