*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

button{
  cursor: pointer;
}

/* Define input css */
input {
  border: 1px solid #aaa;
  outline: none;
  font-size: inherit;
  padding: 0.5em;
  border-radius: 0.2em;
}

input:focus-visible{
  border-color: rgb(237, 9, 157);
  box-shadow: 0 0 10px rgb(237, 9, 157);
}

/* Styling for errors shown in the home page' form */
.form-error{
  text-align: center;
  padding: 10px;
  border-radius: 0.3rem;
  background-image: linear-gradient(
    to right,
    hsl(0, 75%, 73%),
    hsl(0, 53%, 44%)
  );
  color: white;
  height: auto;
}

/* Styling for other error messages*/
.error-message-container{
  justify-self: center;
  align-self: center;
  width: 60%;
  background-image: linear-gradient(
    to right,
    hsl(0, 59%, 65%),
    hsl(0, 79%, 55%)
  );
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 0.5%;
  border-radius: 0.3em;
}

/* Pagination Arrow Styling */
.arrow-containers{
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 30%;
}

.arrow{
  cursor: pointer;
  width: 20%;
  height: 30%;
  border: none;
}

.commit-arrow{
  height: 40%;
  width: 35%;
}
